.PAGE-passenger-amount-manage {
  .table-wrapper {
    padding: 10px;
    background-color: #fff;
    .table-toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      padding: 0 24px;
      line-height: 64px;
      .title {
        flex: 1 1;
        color: #000;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.85;
      }
      .option {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .extra-operation {
          margin-left: 16px;
          > span {
            margin-left: 8px;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
